$font-stack: "Menlo";
* {
    font-family: $font-stack;
}

.container {
    display: grid;
    grid-template: repeat(auto-fit, minmax(200px, 1fr)) / repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-areas: "header header header" "aside main main" "aside footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}