<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./assets/css/posts.scss" />
</head>
<div class="container">
    <header>
        <h1>{{ page.title }}</h1>
    </header>

    <aside>
        {% for item in site.posts %}
        <h5>{{ item.title }}</h5>
        <ul>
            <li><a href="{{item.url}}">{{item.title}}</a></li>
        </ul>
        {% endfor %}
    </aside>
    <main>{{ content }}</main>

    <footer>
        <p>&copy; {{ site.title }}</p>
        <p>
            <?= "hello world!"?>
        </p>
    </footer>
</div>
